*{
    box-sizing: border-box;
    margin:  0px;
    


}

    
/* menu*/

header{
    height: 80px;
    width: 100%;
    background-image:linear-gradient(to right, black, silver);
    margin: 0px;
}

nav{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "a  b";
}

ul{
    
    grid-area: b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;

}

ul li{
    padding: 5px;
    margin-right: 30px;
    list-style: none;   
}

ul li:hover{
    transform: translate(5px,5px);
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.contenedor-logo{
    grid-area: a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo{
    
    padding: 5px;
    margin-left: 25px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    color: silver;

}


/* portada */


.fondo-portada{
    height: 700px;
    width: 100%;
    background-image: url(./img/fondo.jpeg);
}

.contenedor-portada{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "izq  der";

}

.contenedor-portada-foto{
    grid-area: der;
}

#portada-foto{
    margin-top: 80px;
    margin-left: 90px;
    transform: rotate(10deg);

}

.contenedor-portada-texto{
    margin: 90px 30px 0px 85px;
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "arriba"
                        "abajo";

}

.contenedor-portada-pitch{
    grid-area: arriba;
    display: flex;
    justify-content: center;
    width: 850px;
    
}


#portada-pitch{
    font-size: 55px;
    width: auto;
    color: white;
    font-weight: 900;
    letter-spacing: 0px;
    animation-delay: 2s;
    animation: gira 4s  1;
}

@keyframes gira{
    0%{
        letter-spacing: 0px;
    }
    50%{
        letter-spacing: 4px;
        
    }
    
    100%{letter-spacing: 0px;}
}



.contenedor-portada-parrafo{

    margin-right: 40px;
    grid-area:abajo;

}

#portada-parrafo{
    
    font-size: 25px;
    color: silver;
}

/* beneficios*/

.fondo-beneficios{
    height: 550px;
    width: 100%;
    background-image:linear-gradient(to left, white, rgb(191, 189, 189))
    
}

.contenedor-beneficios{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "izqB derB";
}


.contenedor-beneficiosFoto{
    grid-area: izqB;
    margin:90px 30px 0px 85px; 
    
}


#beneficios-fotoConsumidor{
   border-radius: 200px;
}

.contenedor-beneficiosTexto{
    grid-area: derB;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
                        "arribaB"
                        "abajoB";

}


.contenedor-beneficiosTitulo{
    margin-top: 90px;
    grid-area: arribaB;
}

#beneficiosTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 97, 97);

}

.contenedor-beneficiosParrafo{
    grid-area: abajoB;
    
    margin-right: 90px;
    margin-left: 50px;
    
}
    
.beneficiosParrafo{
    color: rgb(119, 119, 119);
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    
    
}

/* beneficios vendedor*/

.fondo-beneficiosVendedor{
    height: 550px;
    width: 100%;
    background-color: black;
    
}

.contenedor-beneficiosVenFoto{
    grid-area: derB;
    margin:90px 90px
}

#beneficios-fotoVendedor{
    border-radius: 150px;
}

.contenedor-beneficiosVenTexto{
    grid-area: izqB;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
                        "arribaB"
                        "abajoB";
}

.contenedor-beneficiosVenTitulo{
    margin-right: 50px;
    margin-top: 90px;
    grid-area: arribaB;
}
    
#beneficiosVenTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 97, 97);

}
    
.contenedor-beneficiosVenParrafo{
    grid-area: abajoB;
    
    margin-right: 50px;
    margin-left: 90px;
    
}

    /*usuarios */

 .fondo-usuarios{
     height: 800px;
     width: 100%;
     background-image: linear-gradient(to bottom, black, rgb(53, 53, 53));
     
 }   





 .contenedor-usuarios{
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%; 
    grid-template-areas: 
                        "sup"
                        "inf";
 }
    
 
 .contenedor-tituloUsuario{
     margin-top: 70px;
     margin-left: 90px;
     width: 680px;
 }

 #titulo-usuario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 200;
    color: whitesmoke
}

 .contenedor-resena{
     margin-top: 120px;
     grid-area: inf;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 100%;
     grid-template-areas: "seccion1 seccion2";
     height: 75%;
     width: 85%;
     margin-left: 90px;
     margin-right: 90px;
     background-color: white;
     
 }

 .contenedor-fotoPelicula{
     grid-area: seccion1;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;

 }

 

 #titulo-pelicula{
     margin-top: 30px;
     margin-left: 20px;
     font-size: 25px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 550;
     
 }

 #texto-pelicula{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    
 }


 /* contacto*/

 .fondo-contacto{
 height: 1200px;
 width: 100%;
 background-image: linear-gradient(to bottom, rgb(53, 53, 53), whitesmoke);
 }
 
 .contenedor-contacto{
     position: relative;
     top: 200px;
     height: 70%;
     display: flex;
     margin-left: 90px;
     margin-right: 90px;
     border-radius: 70px;
     
     background-color:black

    ;
 }

 #titulo-contacto{
     width: 700px;
     color: white;
     font-size: 50px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-top: 60px;
     margin-left: 90px;
     margin-bottom: 80px;
 }

 #nombreApellido{
     margin-left: 90px;
     margin-top: 40px;
     display: flex;
     column-gap: 80px;

 }


 .ingrese{
     height: 65px;
     width: 250px;
     border-radius: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 24px;
 }

 #ingreseTexto{
     margin-left: 90px;
     margin-top: 20px;
     height: 250px;
     width: 1000px;
     border-radius: 30px;
     font-size: 24px;
 }
 
#enviar{
    height: 100px;
    width: 210px;
    background-color: rgb(46, 46, 46);
    border-radius: 300px;
    box-shadow: 4px 4px lightslategray;
    font-size: 35px;
    color: linen;
    margin-left: 500px;
    margin-top: 40px;
    margin-bottom: 20px;

    

}